////
/// Components
/// Patterns
////

@import './props';

:root {
  --pattern-bg-color: white;
  --halftone-bg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path fill="#{get-color(brand, blue)}" d="M0 4v4c1.104 0 2-.895 2-2s-.896-2-2-2zm6-2c1.104 0 2-.895 2-2H4c0 1.105.896 2 2 2zm0 8c-1.104 0-2 .895-2 2h4c0-1.105-.896-2-2-2zm4-4c0 1.105.896 2 2 2V4c-1.104 0-2 .895-2 2z"/></svg>');
}

@keyframes halftone {
  from {
    background-position: $halftone-bg-position-start;
  }

  to {
    background-position: $halftone-bg-position-end;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
