////
/// Components
/// Pattern props
////

@import 'utilities/layout';

@mixin pattern-bg-reset {
  background-image: none;
  background-color: transparent;
  background-size: auto auto;
}

///
/// Halftone
$halftone-bg-size: 1.2rem;

@mixin halftone-bg-placeholder($psuedo: before) {
  &::#{unquote($psuedo)} {
    @include position-cover;
    content: '';
    display: block;
    pointer-events: none;

    @content;
  }
}

@mixin halftone-bg-animated($psuedo: before) {
  &::#{unquote($psuedo)} {
    background-image: var(--halftone-bg);
    background-size: $halftone-bg-size $halftone-bg-size;
    animation:
      halftone get-duration(slow) steps(3) infinite both,
      fade-in get-duration() get-easing() both;

    @content;
  }
}

///
/// Stripes
$stripes-bg-size: 0.8rem;

@mixin stripes-bg {
  background-image: repeating-linear-gradient(
    -45deg,
    white,
    white 40%,
    var(--stripes-bg-color) 40%,
    var(--stripes-bg-color) 50%,
    white 50%
  );
  background-size: $stripes-bg-size $stripes-bg-size;
}
